{% extends "layouts/login_layout.html" %}
{% block content %}

<div class="row">
<div class="col-md-6 offset-md-3">
<div class="alert alert-info" role="alert">
<h1 class="text-center">HuBMAP User Login</h1>

<p>
Please click the button below and you will be redirected to the Globus login page.
There you can login with your institutional credentials. </p>

<p>
Once you are authenticated and authorized you'll be redirecting back to the requested URL. 
</p>

<hr />

<div class="text-center"> 
<a class="btn btn-primary btn-lg" href="{{ config['FLASK_APP_BASE_URI'] }}/login">
Login with your institutional credentials via Globus
</a>
</div>
</div>
</div>
</div>

{% endblock %}