# __pycache__ directories in any path
**/__pycache__

**/.DS_Store

BUILD

# the copied
hubmap-auth/BUILD
hubmap-auth/VERSION
hubmap-auth/src/BUILD
hubmap-auth/src/VERSION

# log files in any path
**/*.log

# Rotated log files
**/*.log*

# hubmap-auth app.cfg
hubmap-auth/src/instance/app.cfg

# indicator file of maintenance
**/maintenance.on

#ignore PyCharm files
.idea/
venv

#ignore Eclipse files
.project
.pydevproject
gateway.code-workspace
