asn1crypto==0.24.0
cachetools==3.1.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
click==7.0
cryptography==2.7
flask==1.1.1
globus-sdk==1.8.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
pycparser==2.19
pyjwt[crypto]==1.7.1
requests==2.22.0
six==1.12.0
urllib3==1.25.3
werkzeug==0.15.6
git+git://github.com/hubmapconsortium/commons.git@master#egg=hubmap-commons
